<% layout("layouts/boilerplate.ejs")%>
<body>
    <div class="viewnote">
        <h2 class="note-title"><%= password.title%></h2>
        Site:<p class="note-content form-control mb-3"><%= password.site%></p>
        Username:<div class="note-content form-control col-3 mb-3"><%= password.username%></div>
        Password:<input type="password" id="password-<%= password._id %>" class="form-control mb-2" value="<%= password.password %>" readonly>
        <button class="btn btn-secondary col-2 mb-2 edit-btn" onclick="togglePasswordVisibility('<%= password._id %>')">Show/Hide</button>
        <p class="card-text"><small class="text-muted">Created at: <%= password.date.toDateString() %></small></p>
        <a href="/passwords/edit/<%= password._id%>" class="btn btn-primary  col-2 offset-3 mt-4 edit-btn">Edit</a>
        <form method="post" action="/passwords/delete/<%= password._id%>?_method=DELETE">
            <button class="btn btn-dark deletebtn">Delete</button>
        </form>
    </div>
    </div>
    </div>
</body>